<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
    <!-- Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>F1 Store - {{ title }}</title>
    {% else %}
        <title>F1 Store</title>
    {% endif %}
</head>
<body>
    <!-- Sección Superior: Imagen de Auto y Título -->
    <div id="car-section" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
      <img src="{{ url_for('static', filename='f1_car.png') }}" alt="F1 Car" style="width: 150px; height: auto; margin-right: 20px;">
      <h1 style="font-family: 'Orbitron', sans-serif; font-size: 3.5rem; color: #ff0000; margin: 0;">F1 Store</h1>
    </div>
  

    <!-- Barra de Navegación -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="/" style="margin-left: auto; margin-right: auto;"> 
            <img id="logo" alt="F1 Logo" src="{{ url_for('static', filename='f1_logo.png') }}" />
          </a>
        
          
          <!-- Navegación Principal -->
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('unwrap_project') }}">El proyecto</a>
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Suscripción</a>
              <a class="nav-item nav-link" href="{{ url_for('select_products') }}">Productos</a>
            </div>
          </div>

          <!-- Navegación Derecha -->
          <div class="navbar-nav nostack" style="display: inline;">
            {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart" id="cartitems"></span></a>
              <small id="noOfItems">{{ noOfItems }}</small>
              <a class="nav-item nav-link" href="{{ url_for('account') }}"><span class="glyphicon glyphicon-user"></span></a>    
              <a class="nav-item nav-link" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span></a>   
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span></a>
              <a class="nav-item nav-link" href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
            {% endif %}
          </div>

          <!-- Botón de Navegación Colapsable -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>

    <!-- Contenido Principal -->
    <main role="main" class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="card-title"><b>Enlaces rápidos</b></h5>
              <p class="card-text">Contacta con nosotros</p>
              <p class="card-text">Blog</p>
            </div>
            <div class="col-sm-4">
              <h5 class="card-title"><b>Términos y condiciones</b></h5>
              <p class="card-text">Por favor lea nuestros <a href="#">términos y condiciones aquí</a>.</p>
            </div>
            <div class="col-sm-4">
              <h5 class="card-title"><b>Hoja informativa</b></h5>
              <form class="form-inline">
                <div class="form-group mb-2">
                  <label for="inputEmail2" class="sr-only">Correo</label>
                  <input type="text" class="form-control" id="inputEmail2" placeholder="Email">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Subscribete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
