{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>El Proyecto F1 Store</h1>
        <img src="/static/pic3.jpg" class="d-block w-100" alt="...">
        <h1>
            <p>¡La velocidad y la innovación están en nuestro ADN!</p>
        </h1>
        <h3><p>Descubre lo mejor del automovilismo y lleva la pasión de las carreras a tu vida diaria.</p></h3>

        <p>Cada producto en nuestra tienda está diseñado para capturar la esencia de las pistas de carreras. Desde accesorios exclusivos hasta piezas de colección, todo está inspirado en la adrenalina y el diseño de la Fórmula 1.</p>

        <div>
            <img width="100%" src="{{ url_for('static', filename='pic2.jpeg') }}" />
        </div>
        <div>
            <h1>
                <p>¡Celebremos la velocidad y el espíritu competitivo!</p>
            </h1>
        </div>
        <p>Nuestro objetivo es conectar a los fanáticos del automovilismo con productos únicos que representan su amor por la Fórmula 1. Colaboramos con marcas oficiales y diseñadores para traer lo mejor del mundo de las carreras a tu puerta.</p>
        <p>Mantenemos nuestros estándares **altos y exclusivos**, como en una carrera de élite. Desde camisetas personalizadas hasta modelos a escala de los autos más icónicos, encontrarás todo lo que necesitas para vivir la experiencia de la Fórmula 1.</p>

        <h1>
            <p>Nuestros Socios</p>
        </h1>
        <h5>
            <p>Trabajamos con marcas y equipos que comparten nuestra pasión por la excelencia en las pistas.</p>
        </h5>
        <h4><b>Nuestros socios se seleccionan a través de 4 criterios principales:</b></h4>

        <ul style="list-style-type:none;">
            <li>Calidad y autenticidad en los productos</li>
            <li>Diseños inspirados en las pistas de carreras</li>
            <li>Colaboración oficial con equipos de Fórmula 1</li>
            <li>Compromiso con la innovación tecnológica</li>
        </ul>
    </div>
</div>

{% endblock content %}
